[submodule "sdk-ts/src/base/internal/submodules/hiero-consensus-node"]
	path = sdk-ts/src/base/internal/submodules/hiero-consensus-node
	url = https://github.com/hiero-ledger/hiero-consensus-node.git
